@import "../scss/design.scss";

.splashContainer {
  width:100%;
  height:100%;
  @include linear-gradient( $sky-blue, darken($sky-blue, 10%) );
}
.splashBox {
  display:none;
  overflow:visible !important;
  @extend .absoluteCenter;
  width:420px;
  height:369px;
  padding:1em 0.5em 1em 0.5em;

  background:$ocean-blue;
  border-radius:4px;
  box-shadow:0px 2px 0px darken($ocean-blue, 20%);

  > h1 {
    @extend .logo;
    font-size:7em;
    margin-top:-0.82em;
    margin-bottom:-0.20em;
    width:100%;
    outline:2px #FFF;
  }

  > h2 {
    font-family:"Roboto Condensed", sans-serif;
    letter-spacing:1px;
    a {
      color:$off-white;
      text-decoration:none;
      font-weight:normal;
      display:inline-block;
      padding-bottom:3px;
      margin-bottom:-3px;
      padding-left:5px;
      padding-right:5px;
      &:hover, &:active {
        cursor:pointer;
        //border-bottom:2px solid $off-white;
        //padding-bottom:1px;
      }
    }
  }
  > * {
    text-align:center;
    color:$off-white;
  }
}
