<template name="dashboard">

<header>
  <section class="navbar">
    <div class="navbarLogo">
      <a href="/">RPLY</a>
    </div>
    <ul>
      <li>profile</li>
      <li>messages</li>
      <li>top rplys</li>
      <li>search</li>
      <li id="navLogout">logout</li>
    </ul>
  </section>
</header>
<!--
<section class="centerDashboard">
  <aside>
    <ul>
      <li>
        MESSAGE
      </li>
    </ul>
  </aside>
  TODO
  {{> rplyFeed }}
</section>

<footer>
  <section class="footer">
    COPYRIGHT SUCK DEEZ NUTS.
  </section>
</footer>
-->

</template>
